__pycache__
webscrapper/cred.py
webscrapper/credentials.json
webscrapper/token.json
webscrapper/test4.py
webscrapper/config.meme
webscrapper/test
webscrapper/data
webscrapper/dates
webscrapper/lr
webscrapper/dates2