Scratch work/cred.py
__pycache__
webscrapper/cred.py
test.py
webscrapper/credentials.json
webscrapper/token.json
webscrapper/test2.py
webscrapper/test4.py
webscrapper/test3.py
webscrapper/hashalgos
webscrapper/test6.py